{% extends 'index.html' %}

{% block title %} Metodo de la Secante {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">Metodo de la Secante</h2>
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <label for="fn">Función:</label>
                <input type="text" class="form-control" placeholder="Ejemplo x**3 - 3*x**2 + 3" name="fn" required
                    value="x**3 - 3*x**2 + 3">
            </div>
            <div class="col-md-2">
                <label for="a">X0:</label>
                <input type="number" class="form-control" placeholder="intervalo inferior" name="a" required value="1">
            </div>
            <div class="col-md-2">
                <label for="b">X1:</label>
                <input type="number" class="form-control" placeholder="intervalo superior" name="b" required value="2">
            </div>
            <div class="col-md-2">
                <label for="ea">Error(%):</label>
                <input type="number" class="form-control" placeholder="Error en porcentaje" name="ea" required
                    value="1e-6">
            </div>
            <div class="col-md-2">
                <label for="decimales">Precisión:</label>
                <input type="number" class="form-control" placeholder="precisión" name="decimales" required value="4">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary mt-4">Calcular</button>
            </div>
        </div>
    </form>

    {% if resultados or True %}

    <div class="container">

        <h3>Resultados:</h3>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Iteración</th>
                    <th class="text-center" scope="col">xi</th>
                    <th class="text-center" scope="col">xi-1</th>
                    <th class="text-center" scope="col">xi+1</th>
                    <!--<th class="text-center" scope="col">f(xi)</th>
                    <th class="text-center" scope="col">f(xs)</th>
                    <th class="text-center" scope="col">f(xr)</th>-->
                    <!--<th scope="col">f(c)</th>-->
                </tr>
            </thead>
            {% for iteracion in resultados %}
            <tr scope="row">
                <td class="text-center">{{ iteracion[0] }}</td>
                <td class="text-center">{{ iteracion[1] }}</td>
                <td class="text-center">{{ iteracion[2] }}</td>
                <td class="text-center">{{ iteracion[3] }}</td>
                <!--<td class="text-center">{{ iteracion[4] }}</td>
                <td class="text-center">{{ iteracion[5] }}</td>
                <td class="text-center">{{ iteracion[6] }}</td>-->
                <!--<td>{{ iteracion[4] }}</td>-->
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

</div>
{% endblock %}